* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* full backgrond colour changes */
    background: #111;
}

.scanner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scanner .fingerprint {
    position: relative;
    width: 300px;
    height: 380px;
    background-size: 300px;
}

.scanner .fingerprint::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* its my image path and paste your image path */
    background-image: url(https://user-images.githubusercontent.com/125794481/233089378-2a228225-62ba-46be-81e2-22a4afe0c914.png);
    background-size: 300px;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}

.scanner .fingerprint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    /* paste the image path */
    background-image: url(file:///C:/Users/ELCOT/Document/fingerprint/fin1.PNG);
    background: #3fefef;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: animate_line 4s ease-in-out infinite;
}

@keyframes animate_line {
    0%,
    100% {
        top: 0%;
    }
    50% {
        top: 100%;
    }
}

.scanner h3 {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 20px;
    color: #dd86f3;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: animate_text 0.8s steps(1) infinite;
}

@keyframes animate_text {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
